{% extends 'base.html' %}

{% block conteudo %}
    <h1>Atualizar Conta</h1>

    <form method="POST" action="{% url 'conta_atualizada' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}<br>
            <input type="hidden" name="id_conta" value="{{ pk }}">
            <input type="submit" class="btn btn-primary" value="Atualizar">
            <a href="{% url 'inicio' %}"><button type="button" class="btn btn-primary">Cancelar</button></a>
        </div>
    </form>

{% endblock %}